<% include util %>
<%
if (typeof contest === 'undefined') contest = null;
if (contest) {
  this.title = this.alpha(pid) + '. ' + syzoj.utils.removeTitleTag(problem.title) + ' - ' + contest.title + ' - 比赛';
} else {
  this.title = problem.title + ' - 题目';
}
%>
<% include header %>
<style>
#languages-menu::-webkit-scrollbar, #testcase-menu::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#languages-menu .item::after, #testcase-menu .item::after {
    display: none;
}
</style>

<% include monaco-editor %>

<style>
  .ui.problem.container {
    width: auto!important;
    margin-left: 5%!important;
    margin-right: 5%!important;
  }
  /* for pc */
  @media screen and (min-width: 600px) {
    #code-panel {
      width: 45%;
      position: fixed;
    }
    #languages-menu {
      height: 60vh;
    }
	}
  /* for mobile devices */
  @media screen and (max-width: 600px) {
    #code-panel {
      width: auto;
      position: auto;
    }
    #languages-menu {
      height: 370px;
    }
  }
</style>

<% if (!(typeof contest !== 'undefined' && contest && contest.ended)) { %>
</div>
<div class="ui problem container">
  <div class="ui stackable grid">
    <div class="eight wide column">
<% } %>
      <!-- Problem header -->
      <div class="ui center aligned grid">
        <div class="row">
          <h1 class="ui center aligned header">
          <% if (contest) { %>
            <% for (let problem of problems) %>
            <%- problem.status %> 
            <% } %>
            <div class="ui pagination menu" style="box-shadow: none; ">
                <% let i = 0; for (let problem of problems) { i++; %>
                <%  let st = ""; if (problem.judge_id) {
                    if (typeof problem.status === 'string') {
                        if(problem.status === "Accepted") st = "background: #21ba45;color: rgba(255, 255, 255, 0.95);";
                        else st = "background: #DB2828;color: rgba(255, 255, 255, 0.95);";
                    } else if (typeof problem.status === 'object') {
                        if (problem.status.accepted)  st = "background: #21ba45;color: rgba(255, 255, 255, 0.95);";
                        else st = "background: #DB2828;color: rgba(255, 255, 255, 0.95);";
                    }
                } %>
              <a class="item" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'problem', i]) %>" style="<%= st %>"><b><%= String.fromCharCode(i - 1 + 65) %></b></a>
                <% } %>
            </div>
              <br><br><%= this.alpha(pid) %>. <%= syzoj.utils.removeTitleTag(problem.title) %>
          <% } else { %>
              #<%= problem.id %>. <%= problem.title %><% if (problem.allowedEdit && !problem.is_public) { %><span class="ui tiny red label">未公开</span><% } %>
          <% } %>
          </h1>
        </div>
        <% if (problem.type !== 'submit-answer') { %>
        <div class="row" style="margin-top: -15px">
            <span class="ui label">内存限制：<%= problem.memory_limit %> MiB</span>
            <span class="ui label">时间限制：<%= problem.time_limit %> ms</span>
            <% if (problem.type === 'interaction') { %>
              <span class="ui label">题目类型：交互</span>
            <% } else if (problem.file_io) { %>
              <span class="ui label">输入文件：<%= problem.file_io_input_name %></span>
              <span class="ui label">输出文件：<%= problem.file_io_output_name %></span>
            <% } else { %>
              <span class="ui label">标准输入输出</span>
            <% } %>
        </div>
        <% } %>
        <% if (problem.type !== 'interaction') { %>
        <div class="row" style="margin-top: -<%= problem.type === 'submit-answer' ? 15 : 23 %>px">
            <span class="ui label">题目类型：<%= { 'submit-answer': '答案提交', 'interaction': '交互', 'traditional': '传统' }[problem.type] %></span>
            <span class="ui label">评测方式：<%= (testcases && !testcases.error) ? (testcases.spj ? 'Special Judge' : '文本比较') : '无测试数据' %></span>
        </div>
        <% } %>
        <% if (!contest) { %>
        <div class="row" style="margin-top: -23px">
            <span class="ui label">上传者：
            <% if (problem.is_anonymous && !problem.allowedManage) { %>
              匿名
            <% } else { %>
              <a href="<%= syzoj.utils.makeUrl(['user', problem.user_id]) %>"><%= problem.user.username %></a>
            <% } %>
            </span>
            <% if (problem.allowedManage) { %>
                <span class="ui label">公开者：
                <% if (problem.publicizer) { %>
                  <a href="<%= syzoj.utils.makeUrl(['user', problem.publicizer_id]) %>"><%= problem.publicizer.username %></a>
                <% } else { %>
                  未知
                <% } %>
                </span>
            <% } %>
        </div>
        <% } %>
      </div>
      <!-- Problem details -->
      <div class="ui grid">
        <div class="row">
          <div class="column">
            <div class="ui buttons">
              <% if (typeof contest !== 'undefined' && contest) { %>
                <% if (!contest.ended) { %>
                  <a class="small ui primary button" href="#submit_code">提交</a>
                <% } else { %>
                  <a class="small ui primary button" href="<%= syzoj.utils.makeUrl(['problem', problem.id]) %>">转到题库</a>
                <% } %>
                <a class="small ui positive button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'submissions'], { problem_id: pid }) %>">提交记录</a>
                <% if (problem.additional_file) { %>
                  <a class="small ui teal button" href="<%= syzoj.utils.makeUrl(['contest', contest.id, pid, 'download', 'additional_file']) %>">附加文件</a>
                <% } %>
                <a href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>" class="ui orange button">返回比赛</a>
                <a href="javascript:get_contest_notice(true)" class="ui yellow button">刷新通告</a>
              <% } else { %>
                <% if (testcases && !testcases.error) { %>
                  <a class="small ui primary button" href="#submit_code">提交</a>
                <% } %>
                <a class="small ui positive button" href="<%= syzoj.utils.makeUrl(['submissions'], { problem_id: problem.id }) %>">提交记录</a>
                <a class="small ui orange button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'statistics', problem.type === 'submit-answer' ? 'shortest' : 'fastest']) %>">统计</a>
                <a class="small ui yellow button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'testdata']) %>">测试数据</a>
                <% if (problem.additional_file) { %>
                  <a class="small ui teal button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'download', 'additional_file']) %>">附加文件</a>
                <% } %>
                <a class="small ui brown button" href="<%= syzoj.utils.makeUrl(['discussion', 'problem', problem.id]) %>" style="position: relative; ">
                  讨论
                  <% if (discussionCount) { %>
                    <div class="floating ui red tiny circular label" style="background-color: #8c5633 !important; top: -0.6em; "><%= discussionCount %></div>
                  <% } %>
                </a>
              <% } %>
            </div>
            <% if (!contest) { %>
            <div class="ui buttons right floated">
              <% if (problem.allowedEdit) { %>
                <a class="small ui button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'edit']) %>">编辑</a>
                <a class="small ui button" href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'manage']) %>">管理</a>
              <% } %>
              <% if (problem.allowedManage) { %>
                <% if (problem.is_public) {  %>
                  <a class="small ui button" id="dis_public" href-post="<%= syzoj.utils.makeUrl(['problem', problem.id, 'dis_public']) %>">取消公开</a>
                <% } else { %>
                  <a class="small ui button" id="public" href-post="<%= syzoj.utils.makeUrl(['problem', problem.id, 'public']) %>">公开</a>
                <% } %>
                <div class="ui basic modal" id="modal-delete">
                  <div class="ui icon header">
                    <i class="trash icon"></i>
                    <p style="margin-top: 15px; ">删除题目</p>
                  </div>
                  <div class="content" style="text-align: center; ">
                    <p>确认删除此题目吗？提交记录、讨论以及测试数据将一并删除。<br>
                    删除题目导致的修改用户提交、通过数量可能会耗费一些时间。</p>
                    <b>警告：删除比赛中的题目会导致系统错乱！请确认没有比赛使用此题目。</b>
                  </div>
                  <div class="actions">
                    <div class="ui red basic cancel inverted button">
                      <i class="remove icon"></i>
                      否
                    </div>
                    <a class="ui green ok inverted button" href-post="<%= syzoj.utils.makeUrl(['problem', problem.id, 'delete']) %>">
                      <i class="checkmark icon"></i>
                      是
                    </a>
                  </div>
                </div>
                <div class="small ui red button" onclick="$('#modal-delete').modal('show')">删除</div>
              <% } %>
            </div>
            <% } %>
          </div>
        </div>
        <% if (problem.description) { %>
        <div class="row">
          <div class="column">
            <h4 class="ui top attached block header">题目描述</h4>
            <div class="ui bottom attached segment font-content"><%- problem.description %></div>
          </div>
        </div>
        <% } %>
        <% if (problem.input_format) { %>
        <div class="row">
          <div class="column">
              <h4 class="ui top attached block header">输入格式</h4>
              <div class="ui bottom attached segment font-content"><%- problem.input_format %></div>
          </div>
        </div>
        <% } %>
        <% if (problem.output_format) { %>
        <div class="row">
            <div class="column">
              <h4 class="ui top attached block header">输出格式</h4>
              <div class="ui bottom attached segment font-content"><%- problem.output_format %></div>
            </div>
        </div>
        <% } %>
        <% if (problem.example) { %>
        <div class="row">
            <div class="column">
              <h4 class="ui top attached block header">样例</h4>
              <div class="ui bottom attached segment font-content"><%- problem.example %></div>
            </div>
        </div>
        <% } %>
        <% if (problem.limit_and_hint) { %>
        <div class="row">
            <div class="column">
              <h4 class="ui top attached block header">数据范围与提示</h4>
              <div class="ui bottom attached segment font-content"><%- problem.limit_and_hint %></div>
            </div>
        </div>
        <% } %>
        <% if (problem.tags && problem.tags.length && (typeof contest === 'undefined' || !contest)) { %>
        <div class="row">
          <div class="column">
            <h4 class="ui block header" id="show_tag_title_div" style="margin-bottom: 0; margin-left: -1px; margin-right: -1px; "><a href="#" id="show_tag_button" style="color: #000; ">显示分类标签</a></h4>
            <div class="ui bottom attached segment" style="display: none; " id="show_tag_div">
              <% for (let tag of problem.tags) { %>
                <a href="<%= syzoj.utils.makeUrl(['problems', 'tag', tag.id]) %>" class="ui medium <%= tag.color %> label">
                  <%= tag.name %>
                </a>
              <% } %>
            </div>
          </div>
        </div>
        <script>
        $(function () {
          $('#show_tag_button').click(function (e) {
            e.preventDefault();
            $('#show_tag_title_div').addClass('top');
            $('#show_tag_title_div').addClass('top attached');
            $('#show_tag_title_div').text('分类标签');
            $('#show_tag_div').css('display', '');
          })
        });
        </script>
        <% } %>
      </div>
    </div>
    <!-- Submit solution -->
    <div class="eight wide column">
      <% let noSubmit = false; %>
      <%
      if (typeof contest !== 'undefined' && contest && contest.ended || (!testcases || testcases.error)) {
        noSubmit = true;
      }
      %>
      <% if (!noSubmit) { %>
      <div class="column" id="code-panel">
        <div class="row">
          <%
          const formUrl = syzoj.utils.makeUrl(['problem', problem.id, 'submit'], { contest_id: contest ? contest.id : undefined });
          %>
          <form action="<%= formUrl %>" method="post" onsubmit="return submit_code()" id="submit_code" enctype="multipart/form-data">
            <% if (problem.type === 'submit-answer') { %>
              <%
              let cases = [];
              if (testcases && !testcases.error) {
                for (let subtasks of testcases) {
                  for (let testcase of subtasks.cases) {
                    cases.push(testcase.answer);
                  }
                }
              }
              %>
              <script>
              var cases = <%- serializejs(cases) %>, currCase = 0;
              </script>
              <div class="ui grid">
                <% if (testcases) { %>
                <div class="four wide column" style="margin-right: -25px; ">
                  <div class="ui attached vertical fluid pointing menu" id="testcase-menu" style="height: 370px; overflow-y: scroll; overflow-x: hidden; ">
                    <% for (let i = 0; i < cases.length; i++) { %>
                      <a style="border-radius: 0; " class="item<%= i === 0 ? ' active' : '' %>" data-value="<%= i %>">
                        <%= cases[i] %>
                      </a>
                    <% } %>
                  </div>
                </div>
                <div class="twelve wide stretched column" style="position: relative; padding-left: 0; margin-left: calc(-1rem - 1px); width: calc(75% + 1rem + 13px) !important; ">
                  <% for (let i = 0; i < cases.length; i++) { %>
                    <div id="editor-<%= i %>" class="editor" style="position: absolute; width: 100%; height: calc(100% - 28px); border: 1px solid #D4D4D5; overflow: hidden; <%= i === 0 ? '' : 'visibility: hidden; ' %>" contenteditable>
                      <%- this.showLoadingEditor(); %>
                    </div>
                  <% } %>
                </div>
                <% } %>
                <input id="answer_by_editor" name="answer_by_editor" type="hidden">
                <script>
                window.onEditorLoaded(function () {
                  window.editors = [];
                  for (var i = 0; i < cases.length; i++) {
                    var editor = window.createCodeEditor(document.getElementById("editor-" + i));
                    editors[i] = editor;
                  }

                  $(function () {
                    $('#testcase-menu .item').click(function() {
                      $(this)
                        .addClass('active')
                        .closest('.ui.menu')
                        .find('.item')
                          .not($(this))
                          .removeClass('active')
                      ;

                      var x = $(this).attr('data-value');
                      if (currCase != x) {
                        $('#editor-' + currCase).css('visibility', 'hidden');
                        $('#editor-' + x).css('visibility', 'visible');
                        currCase = x;
                      }
                    });
                  });
                });
                </script>
                <div class="ui form" style="width: 100%; ">
                  <div class="inline fields" style="width: 100%; ">
                    <div class="field" style="margin: 0 auto; ">
                      <label for="answer">或者，上传答案（请使用 ZIP 格式压缩）</label>
                      <input type="file" id="answer" name="answer">
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui center aligned vertical segment" style="padding-bottom: 0; "><button type="submit" class="ui labeled icon button"><i class="ui edit icon"></i>提交</button></div>
            <% } else { %>
              <input name="language" type="hidden" id="form">
              <input name="code" type="hidden">
              <div class="ui grid">
                <div class="four wide column" style="margin-right: -25px; ">
                  <div class="ui attached vertical fluid pointing menu" id="languages-menu" style="overflow-y: scroll; overflow-x: hidden; ">
                    <%
                    let language = syzoj.config.enabled_languages[0];
                    if (state) {
                      language = state.language;
                    } else if (lastLanguage) language = lastLanguage;
                    if (contest) {
                      if (contest.uselang === 'c_only') {
                        all_lang = ['c'];
                      } else if (contest.uselang === 'c_and_cpp') {
                        all_lang = ['c', 'cpp'];
                      } else {
                        all_lang = syzoj.config.enabled_languages;
                      }
                    } else {
                      all_lang = syzoj.config.enabled_languages;
                    }
                    if (!all_lang.includes(language)) language = all_lang[0];
                    %>
                    <% for (lang of all_lang) { %>
                      <a style="border-radius: 0; " class="item<%= lang === language ? ' active' : '' %>" data-value="<%= lang %>" data-mode="<%= syzoj.languages[lang].editor %>">
                        <%= syzoj.languages[lang].show %>
                        <div class="ui right floated" style="opacity: 0.4; margin-top: 8px; font-size: 0.7em; "><%= syzoj.languages[lang].version %></div>
                      </a>
                    <% } %>
                  </div>
                </div>
                <div class="twelve wide stretched column" style="position: relative; padding-left: 0; margin-left: calc(-1rem - 1px); width: calc(75% + 1rem + 13px) !important; ">
                  <div id="editor" style="position: absolute; width: 100%; height: calc(100% - 28px); border: 1px solid #D4D4D5; overflow: hidden; " class="editor" contenteditable>
                    <%- this.showLoadingEditor(); %>
                  </div>
                </div>
                <div class="ui form" style="width: 100%; ">
                  <div class="inline fields" style="width: 100%; ">
                    <div class="field" style="margin: 0 auto; ">
                      <label for="answer">或者，上传代码文件</label>
                      <input type="file" id="answer" name="answer">
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui center aligned vertical segment" style="padding-bottom: 0; ">
                <button id="submit_btn" type="submit" class="ui labeled icon button"><i class="ui edit icon"></i>提交</button>
              </div>
            <% } %>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </div>

<% if (problem.type !== 'submit-answer') { %>
<script type="text/javascript">
  var editor;
  window.onEditorLoaded(function () {
    var editorElement = document.getElementById('editor');
    var content = '';
    <% if (state) { %>content = <%- serializejs(state.code) %>;<% } %>
    editor = window.createCodeEditor(editorElement, $('#languages-menu .item.active').data('mode'), content);
    window.editor = editor;
    setInterval("updateCountdown()", "1000" );
  });

  var lastSubmitted = '';

  function updateCountdown(){
    let lastSubmitTime = parseInt(localStorage.getItem('submitTime'));
    let currTime = (Date.parse(new Date()) / 1000);
    if(lastSubmitTime == null) lastSubmitTime = 0;
    if(currTime - lastSubmitTime < 30) {
      document.getElementById('submit_btn').innerHTML="<i class=\"ui edit icon\"></i>提交过于频繁(请等待"+(30 - currTime + lastSubmitTime).toString()+"秒)";
      document.getElementById('submit_btn').disabled = true;
    } else {
      document.getElementById('submit_btn').disabled = false;
      document.getElementById('submit_btn').innerHTML="<i class=\"ui edit icon\"></i>提交";
    }
  }

  function submit_code() {
    if (!$('#submit_code input[name=answer]').val().trim() && !editor.getValue().trim())
      return false;

    $('#submit_code input[name=language]').val($('#languages-menu .item.active').data('value'));
    lastSubmitted = editor.getValue();
    $('#submit_code input[name=code]').val(editor.getValue());

    let lastSubmitTime = parseInt(localStorage.getItem('submitTime'));
    let submitTime = (Date.parse(new Date()) / 1000);

    if(lastSubmitTime != null){
      if(submitTime - lastSubmitTime < 30){
        localStorage.setItem('submitTime',submitTime.toString());
        document.getElementById('submit_btn').disabled = true;
        document.getElementById('submit_btn').innerHTML="<i class=\"ui edit icon\"></i>提交过于频繁";
        localStorage.setItem('returnLink',submitTime.toString());
        alert("提交过于频繁，请30秒后重试");
        return false;
      }
    }

    <% if(contest) { %>
      localStorage.setItem('contestID',<%- contest.id %>);
      localStorage.setItem('problemID',<%- pid %>);
    <% } else { %>
      localStorage.setItem('contestID','-1');
      localStorage.setItem('problemID',<%- problem.id %>);
      <% } %>

    localStorage.setItem('submitTime',submitTime.toString());
    document.getElementById('submit_btn').disabled = true;
    document.getElementById('submit_btn').innerHTML="<i class=\"ui edit icon\"></i>正在提交";
    alert("提交成功，正在跳转到评测界面（请勿重复提交）");
    return true;
  }

  $('#languages-menu')[0].scrollTop = $('#languages-menu .active')[0].offsetTop - $('#languages-menu')[0].firstElementChild.offsetTop;

  $(function(){
    $('#languages-menu .item').click(function() {
      $(this)
        .addClass('active')
        .closest('.ui.menu')
        .find('.item')
          .not($(this))
          .removeClass('active')
      ;
      monaco.editor.setModelLanguage(editor.getModel(), $(this).data('mode'));
    });
  });
</script>
<% } else { %>
<script>
function submit_code() {
  var a = [];
  for (var i = 0; i < cases.length; i++) {
    a.push({
      filename: cases[i],
      data: editors[i].getValue()
    });
  }
  $('#answer_by_editor').val(JSON.stringify(a));
}
</script>
<% } %>


<% include footer %>

<!-- 比赛通告flyout提示 -->
<div class="ui flyout">
  <i class="close icon"></i>
  <div class="ui header">
    <i class="question icon"></i>
    <div class="content">
      通告标题
    </div>
  </div>
  <div class="content">
    <p>通告内容</p>
  </div>
  <div class="actions">
    <div class="ui green ok button">
      <i class="checkmark icon"></i>
      已知晓
    </div>
  </div>
</div>
<!-- 题目 -->

<% if (contest) { %>
<script>
function get_contest_notice(force) {
  $.ajax({
    type: "GET",
    url: "http://akoj.online/api/notice/<%- contest.id %>",
    success: function(data) {
      let lastReadTime = parseInt(localStorage.getItem('readTime'));
      if (isNaN(lastReadTime)) lastReadTime = -1;
      console.log({"recv": data.notice_time, "this" : lastReadTime});
      if (data.notice_time > lastReadTime || force) {
        $.flyout({
          autoShow: true,
          title: data.notice_title,
          closeIcon: true,
          content: data.notice_content,
          actions: [{
            text: '已知晓',
            class: 'green',
            icon: 'ok'
          }]
        });
        localStorage.setItem('readTime',data.notice_time.toString());
      }
    }
  });
}
$(document).ready(function (){
  setInterval(function(){ get_contest_notice(false); }, 5000);
});
</script>
<% } %>

<script>
$(document).ready(function (){
    $("pre").prepend("<a class=\"copy-button ui button\" style=\"position: absolute;top: -1px;right: -7px;border-top-left-radius: 0px;border-bottom-right-radius: 0px\">复制</a>");
    $(".copy-button").click(function() {
        var element = $(this).siblings("code");
        var text = $(element).text();
        var $temp = $("<textarea>");
        $("body").append($temp);
        $temp.val(text).select();
        document.execCommand("copy");
        $temp.remove();
        $(this).text("复制成功");

        var e = this;
        setTimeout(function() {
            $(e).text("复制");
        }, 500);
    });
});
</script>